.rotateImage {
  transition: transform 1s ease-in-out;
}


.card:hover .rotateImage {
  transform: scale(1.1) rotate(360deg);
  transition: transform 2s ease-in-out;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Marquee container to ensure overflow is hidden */
.marquee {
  display: flex;
  /* overflow: hidden; */
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  /* Add some vertical padding for better spacing */
}

/* Marquee content to animate */
.marquee-content {
  display: flex;
  gap: 8rem;
  /* Ensure at least 2rem gap between images */
  animation: marquee 5s linear infinite;
  /* Animate marquee */
  width: 200%;
  /* Extend width to 200% to allow for continuous scrolling */
  align-items: center;
  /* Center items vertically */
}

/* Flexbox settings to ensure items are in a row */
.marquee-content img {
  flex: 0 0 auto;
  width: auto;
  height: 5rem;
  /* Ensure consistent height for images */
  object-fit: contain;
  /* Ensure images are not stretched */
}