.rotateImage {
  transition: transform 1s ease-in-out;
}


.card:hover .rotateImage {
  transform: scale(1.1) rotate(360deg);
  transition: transform 2s ease-in-out;
}


/* Marquee container to ensure overflow is hidden */
.marquee {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  /* Add some vertical padding for better spacing */
}

/* Marquee content to animate */
.marquee-content {
  display: flex;
  gap: 2rem;
  animation: marquee 30s linear infinite;
  width: 200%;
  align-items: center;
}

/* Flexbox settings to ensure items are in a row */
.marquee-content img {
  flex: auto;
  width: auto;
  height: 5rem;
  padding: 0 1rem;
  object-fit: contain;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
